<div class="page-header">
  <h3>
    OpenESB Standalone Web Console<br>
    <small>You're running on the following OpenESB instance: <strong>{{informations.instanceName}} ({{informations.majorVersion}}.{{informations.minorVersion}}</strong>)</small>
  </h3>
</div>

<div class="row">
	<div class="col-lg-6">
	  <blockquote>
	  	<a href="#/assemblies">
	    	<p>Service Assemblies<span class="badge pull-right">{{assembliesCount}}</span></p>
	    	<small>Quick access to Service Assemblies</small>
	    </a>
	  </blockquote>

	  <blockquote>
	  	<a href="#/components">
	    	<p>Components<span class="badge info pull-right">{{componentsCount}}</span></p>
	    	<small>Quick access to Components</small>
	    </a>
	  </blockquote>

	  <blockquote>
	  	<a href="#/libraries">
	    	<p>Shared Libraries<span class="badge pull-right">{{librariesCount}}</span></p>
	    	<small>Quick access to Shared Libraries</small>
	    </a>
	  </blockquote>
	</div>

	<div class="col-lg-6">
		<blockquote>
		  	<a href="#/endpoints">
		    	<p>Endpoints<span class="badge pull-right">{{endpointsCount}}</span></p>
		    	<small>Quick access to the list of Endpoints</small>
		    </a>
		  </blockquote>
	  <blockquote>
	    <p>JVM Options</p>
	  </blockquote>

	  <blockquote>
	    <p>JVM Memory</p>
	  </blockquote>
	</div>
</div>