<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li class="active">Shared Libraries</li>
</ol>

<div class="page-header">
  <h3>
    Shared Libraries<br>
    <small>Gérer les bibliothèques partagées Java Business Integration.</small>
  </h3>
</div>

<div class="alert alert-warning" ng-show="!libraries.length">No Shared Library seems to be installed !</div>

<br />

<div ng-show="libraries.length">
  <blockquote>
    <p>Search</p>
  </blockquote>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="libraryInputFilter" class="col-lg-2 control-label">Filter :</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="libraryInputFilter" placeholder="Enter text" ng-model="query">
      </div>
    </div>
  </form>

  <br />

  <blockquote>
    <p>Shared Libraries &nbsp; <span class="badge">{{libraries.length}}</span></p>
  </blockquote>

  <!--Body content-->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
        <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
        <th><a href="" ng-click="predicate = 'version'; reverse=!reverse">Version</a></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="library in libraries | filter:query | orderBy:predicate:reverse">
          <td></td>
          <td><a href="#/libraries/{{library.name}}/general">{{library.name}}</a></td>
          <td>{{library.description}}</td>
          <td>{{library.version}}</td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>