<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li><a href="#/libraries">Shared Libraries</a></li>
  <li class="active">{{libraryName}}</li>
</ol>

<div class="alert alert-danger" ng-show="error"><strong>Error: </strong> Unable to retrieve information for shard library <strong>{{libraryName}}</strong></div>

<div ng-show="!error">
  <div class="page-header">
    <h3>{{libraryName}}</h3>
  </div>

  <ul class="nav nav-pills">
    <li ng-class="{ active: isGeneralTab }"><a href="#/libraries/{{libraryName}}/general">General</a></li>
    <li ng-class="{ active: isDescriptorTab }"><a href="#/libraries/{{libraryName}}/descriptor">Descriptor</a></li>
    <li ng-class="{ active: isComponentTab }"><a href="#/libraries/{{libraryName}}/components">Components</a></li>
  </ul>

  <hr />

  <div ng-include="tabcontent"></div>
</div>