<div class="row">
  <div class="col-md-12">
    <blockquote>
      <p>Description</p>
    </blockquote>

    <address>
      <div class="row">
        <div class="col-md-3"><strong>Name:</strong></div>
        <div class="col-md-5">{{library.name}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Description:</strong></div>
        <div class="col-md-5">{{library.description}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Version:</strong></div>
        <div class="col-md-5">{{component.version}}</div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Build Number:</strong></div>
        <div class="col-md-5">{{component.buildNumber}}</div>
      </div>
    </address>
  </div>
</div>