<!DOCTYPE html>
<html lang="en" ng-app="consoleApp" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
     <title>OpenESB Standalone Web Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="OpenESB Standalone Web Console">
 	<meta name="author" content="David BRASSELY">

 	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
	
  <link href="lib/google-code-prettify/prettify.css" rel="stylesheet" media="screen">

    <!-- Le styles -->
    <style type="text/css">
      
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  padding-top: 70px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

address {
  margin-left:20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
    </style>
  </head>

  <body>
    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">OpenESB Standalone Web Console</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="navbar-brand" href="#">Instance</a></li>
              <li><a href="#">{{informations.instanceName}} ({{informations.majorVersion}}.{{informations.minorVersion}})</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="well sidebar-nav">
              <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ active: isAssemblies }">
                  <a href="#/assemblies">
                    <span class="badge pull-right">{{assembliesCount}}</span>
                    Service Assemblies
                  </a>
                </li>
                <li ng-class="{ active: isComponents }">
                  <a href="#/components">
                    <span class="badge pull-right">{{componentsCount}}</span>
                    Components
                  </a>
                </li>
                <li ng-class="{ active: isLibraries }">
                  <a href="#/libraries">
                    <span class="badge pull-right">{{librariesCount}}</span>
                    Shared Libraries
                  </a>
                </li>
                <li ng-class="{ active: isEndpoints }">
                  <a href="#/endpoints">
                    <span class="badge pull-right">{{endpointsCount}}</span>
                    Endpoints
                  </a>
                </li>
              </ul>
            </div><!--/.well -->
          </div><!--/span-->

          <div class="col-xs-12 col-sm-9" ng-view></div>
        </div><!--/row-->
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">
          &copy; OpenESB Community 2013 : 
          {{informations.fullProductName}} {{informations.majorVersion}}.{{informations.minorVersion}} ({{informations.buildNumber}})
        </p>
      </div>
    </div>
  
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/google-code-prettify/prettify.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>

  </body>
</html>
