<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li class="active">Endpoints</li>
</ol>

<div class="page-header">
  <h3>
    Endpoints<br>
    <small>List of known endpoints in the Normalized Message Router (NMR)</small>
  </h3>
</div>

<div class="alert alert-warning" ng-show="!endpoints.length">No Endpoints seems to be available !</div>

<br />

<div ng-show="endpoints.length">
  <blockquote>
    <p>Search</p>
  </blockquote>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="endpointInputFilter" class="col-lg-2 control-label">Filter :</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="endpointInputFilter" placeholder="Enter text" ng-model="query">
      </div>
    </div>
  </form>

  <br />

  <blockquote>
    <p>Endpoints &nbsp; <span class="badge">{{endpoints.length}}</span></p>
  </blockquote>

  <!--Body content-->
  <table class="table table-hover">
    <thead>
      <tr>
        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
        <th><a href="" ng-click="predicate = 'consume'; reverse=!reverse">In / Out</a></th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="endpoint in endpoints | filter:query | orderBy:predicate:reverse">
          <td>{{endpoint.name}}</td>
          <td>{{endpoint.consume}}</td>
        </tr>
    </tbody>
  </table>
</div>