<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li><a href="#/assemblies">Service Assemblies</a></li>
  <li class="active">{{assemblyName}}</li>
</ol>

<div class="alert alert-danger" ng-show="error"><strong>Error: </strong> Unable to retrieve information for service assembly <strong>{{assemblyName}}</strong></div>

<div ng-show="!error">
  <div class="page-header">
    <h3>
      {{assemblyName}}
    </h3>
  </div>

  <ul class="nav nav-pills">
    <li ng-class="{ active: isGeneralTab }"><a href="#/assemblies/{{assemblyName}}/general">General</a></li>
    <li ng-class="{ active: isDescriptorTab }"><a href="#/assemblies/{{assemblyName}}/descriptor">Descriptor</a></li>
  </ul>

  <hr />
  
  <div ng-include="tabcontent"></div>
</div>