<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li class="active">Service Assemblies</li>
</ol>

<div class="page-header">
  <h3>
    Service Assemblies <br>
    <small>Permet de gérer les assemblages de services Java Business Integration.</small>
  </h3>
</div>

<div class="alert alert-warning" ng-hide="assemblies.length">No Service Assemblies seems to be installed !</div>

<br />

<div ng-show="assemblies.length">
  <blockquote>
    <p>Search</p>
  </blockquote>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="assemblyInputFilter" class="col-lg-2 control-label">Filter :</label>
    <div class="col-lg-3">
      <input type="text" class="form-control" id="assemblyInputFilter" placeholder="Enter text" ng-model="query">
    </div>
  </div>
</form>

<br />

  <blockquote>
    <p>Service Assemblies &nbsp; <span class="badge">{{assemblies.length}}</span></p>
  </blockquote>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
          <th><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></th>
          <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="assembly in assemblies | filter:query | orderBy:predicate:reverse">
            <td></td>
            <td><a href="#/assemblies/{{assembly.name}}/general">{{assembly.name}}</a></td>
            <td><jbi-state component="assembly"/></td>
            <td>{{assembly.description}}</td>
            <td></td>
          </tr>
      </tbody>
    </table>
</div>