

  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <p>Description</p>
      </blockquote>

      <address>
        <div class="row">
          <div class="col-md-3"><strong>Name:</strong></div>
          <div class="col-md-9">{{assembly.name}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><strong>Description:</strong></div>
          <div class="col-md-9">{{assembly.description}}</div>
        </div>
      </address>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-5">
      <blockquote>  
        <p>Operation</p>
      </blockquote>

      <address>
        <div class="row">
          <div class="col-md-3"><strong>State:</strong></div>
          <div class="col-md-9"><jbi-state component="assembly"/></div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-3"><strong>Actions:</strong></div>
          <div class="col-md-9">
            <jbi-actions component="assembly" />
          </div>
        </div>
      </address>
    </div>
  </div>

  <br />

  <blockquote>
    <p>Service Units &nbsp; <span class="badge">{{assembly.serviceUnits.length}}</span></p>
  </blockquote>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>State</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unit in assembly.serviceUnits">
          <td>{{unit.name}}</td>
          <td><jbi-state component="unit"/></td>
          <td>{{unit.description}}</td>
        </tr>
    </tbody>
  </table>
</div>