<div class="btn-group">
	<button class="btn btn-primary btn-sm" ng-class="{ disabled: item.state == 'STARTED'}" ng-click="start()">Start</button>
	<button class="btn btn-primary btn-sm" ng-class="{ disabled: item.state == 'STOPPED' || item.state == 'SHUTDOWN' }" ng-click="stop()">Stop</button>
	<button class="btn btn-primary btn-sm" ng-class="{ disabled: item.state == 'STOPPED' || item.state == 'SHUTDOWN'}" ng-click="shutdown()">Shutdown</button>
</div>