<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li class="active">Components</li>
</ol>

<div class="page-header">
  <h3>
    Components<br>
    <small>Gérer les composants de liaison d'intégration et les moteurs de service de Java Business</small>
  </h3>
</div>

<div class="alert alert-warning" ng-cloak ng-hide="components.length">No JBI Component seems to be installed !</div>

<br />

<div class="ng-cloak" ng-show="components.length">
  <blockquote>
    <p>Search</p>
  </blockquote>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="componentInputFilter" class="col-lg-2 control-label">Filter :</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="componentInputFilter" placeholder="Enter text" ng-model="query">
      </div>
    </div>
  </form>

  <br />

  <blockquote>
    <p>Binding components and Service Engines &nbsp; <span class="badge">{{components.length}}</span></p>
  </blockquote>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
          <th><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></th>
          <th><a href="" ng-click="predicate = 'type'; reverse=!reverse">Type</a></th>
          <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
          <th><a href="" ng-click="predicate = 'version'; reverse=!reverse">Version</a></th>
          <th><a href="" ng-click="predicate = 'buildNumber'; reverse=!reverse">Build Number</a></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="component in components | filter:query | orderBy:predicate:reverse">
            <td></td>
            <td><a href="#/components/{{component.name}}/general">{{component.name}}</a></td>
            <td><jbi-state component="component"/></td>
            <td>{{component.type}}</td>
            <td>{{component.description}}</td>
            <td>{{component.version}}</td>
            <td>{{component.buildNumber}}</td>
            <td></td>
          </tr>
      </tbody>
    </table>
</div>