<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="#">Home</a></li>
  <li><a href="#/components">Components</a></li>
  <li class="active">{{componentName}}</li>
</ol>

<div class="alert alert-danger" ng-show="error"><strong>Error: </strong> Unable to retrieve information for component <strong>{{componentName}}</strong></div>

<div ng-show="!error">
  <div class="page-header">
    <h3>{{componentName}}</h3>
  </div>

  <ul class="nav nav-pills">
    <li ng-class="{ active: isGeneralTab }"><a href="#/components/{{componentName}}/general">General</a></li>
    <li ng-class="{ active: isConfigurationTab }"><a href="#/components/{{componentName}}/configuration">Configuration</a></li>
    <li ng-class="{ active: isApplicationTab }"><a href="#/components/{{componentName}}/application">Application</a></li>
    <li ng-class="{ active: isDescriptorTab }"><a href="#/components/{{componentName}}/descriptor">Descriptor</a></li>
    <li ng-class="{ active: isLoggersTab }"><a href="#/components/{{componentName}}/loggers">Loggers</a></li>
    <li ng-class="{ active: isLibrariesTab }"><a href="#/components/{{componentName}}/libraries">Shared Libraries</a></li>
  </ul>

  <hr />

  <div ng-include="tabcontent"></div>
</div>