<blockquote>
  <p>Shared Libraries &nbsp; <span class="badge">{{libraries.length}}</span></p>
  <small>Afficher les libraries nécessaires pour ce composant</small>
</blockquote>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="library in libraries">
        <td><a href="#/libraries/{{library}}">{{library}}</a></td>
      </tr>
  </tbody>
</table>