<div class="row">
  <div class="col-md-7">
    <blockquote>
      <p>Description</p>
    </blockquote>

    <address>
      <div class="row">
        <div class="col-md-4"><strong>Name:</strong></div>
        <div class="col-md-5">{{component.name}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Type:</strong></div>
        <div class="col-md-5">{{component.type}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Description:</strong></div>
        <div class="col-md-5">{{component.description}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Version:</strong></div>
        <div class="col-md-5">{{component.version}}</div>
      </div>
      <div class="row">
        <div class="col-md-4"><strong>Build Number:</strong></div>
        <div class="col-md-5">{{component.buildNumber}}</div>
      </div>
    </address>
  </div>

  <div class="col-md-5">
    <blockquote>  
      <p>Operation</p>
    </blockquote>

    <address>
      <div class="row">
        <div class="col-md-3"><strong>State:</strong></div>
        <div class="col-md-9"><jbi-state component="component"/></div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-3"><strong>Actions:</strong></div>
        <div class="col-md-9">
          <jbi-actions component="component"/>
        </div>
      </div>
    </address>
  </div>
</div>

<br />

<blockquote>
  <p>Service Units</p>
</blockquote>

<table class="table table-hover">
  <thead>
    <tr>
      <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
      <th><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></th>
      <th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="unit in units | filter:query | orderBy:predicate:reverse">
        <td><a href="#/components/{{component.name}}">{{component.name}}</a></td>
        <td><span class="label label-info">{{component.state}}</span></td>
        <td>{{component.description}}</td>
        <td></td>
      </tr>
  </tbody>
</table>